.page-admin-commerce-customer-profiles {
  .page-header {
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .region-content {
    form {
      @include fix-width(360px);
      button[type='submit'] {
        background: #000;
        font-size: 21px;
        color: #fff;
        margin-top: 13px;
        padding: 20px 40px;
        border-width: 0px;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        span.icon {
          display: none;
        }
      }
      .messages.status {
        display: none;
      }
      .profile-info {
        margin-bottom: 54px;
        margin-left: -80px;
        margin-right: -80px;
        text-align: center;
      }
      .form-control {
        height: 37px;
      }
      .form-actions {
        margin-top: 34px;
      }
    }
  }
}

.go-back {
  text-align: center;
  margin: 25px 0px;
  font-size: 14px;
  a {
    color: #000;
  }
}

.user-account {
  .profile {
    @include fix-width(750px);
    .account-title {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .page-header {
    margin-top: 23px;
    margin-bottom: 0px;
  }
  .info-label {
    font-weight: bold;
  }
  .info-body {
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    padding: 3px 0px;
  }
  .info-item {
    margin-bottom: 17px;
  }
}

.page-orders {
  .view-my-orders {
    .table {
      margin-bottom: 10px;
      tr, th {
        td {
          border-top: none;
        }
      }
    }
    .views-field-order-id {
      padding: 10px;
    }
    .views-row {
      border-bottom: 1px solid #ddd;
    }
    .view-header {
      text-align: center;
      margin-bottom: 81px;
    }
  }
  h1.page-header {
    margin-bottom: 0px;
  }
  .region-content {
    @include fix-width(1180px);
  }
  table {
    margin-bottom: 0px !important;
    thead {
      th {
        font-size: 18px;
      }
    }
    .views-field-status {
      font-weight: bold;
    }
  }
  .line-item-total {
    font-size: 20px;
  }
  .line-item-total-label {
    color: #000;
  }

  .views-field-nothing {
    padding-top: 22px;
    .col-md-6 {
      &:first-child {
        padding-right: 0px;
      }
      &:last-child {
        padding-left: 0px;
      }
    }
  }
  .views-field-edit-quantity {
    padding-top: 6px;
  }
  .views-field-commerce-unit-price,
  .views-field-status {
    padding-top: 23px;
  }
}

.page-user-edit-simplenews {
  .region-content {
    form {
      @include fix-width(400px);
      .form-wrapper {
        @include box-shadow(none);
        border-color: transparent;
        .panel-heading {
          display: none;
        }
      }
      .help-block {
        font-size: 16px;
        font-family: "MuseoSansRegular";
        color: #000;
      }
      .form-checkboxes {

      }
      .form-actions {
        .form-submit {
          span {
            display: none;
          }
          background: #000;
        }
      }
      .subs-title {
        font-weight: bold;
        text-align: center;
        margin-top: 51px;
        margin-bottom: 15px;
      }
    }
  }
  .panel-body {
    padding: 0px;
    .form-checkboxes {
      text-align: center;
    }
    .checkbox {
      display: inline-block;
      margin: 0px 8px;
      margin-bottom: 5px;
    }
    .form-item {
      input {
        &:after {
          position: relative;
          left: 0px;
          top: -2px;
          background: url("../images/checkboxs.png") no-repeat 0px 0px;
        }
        &:checked:after {
          background: url("../images/checkboxs.png") no-repeat -134px 0px;
        }
      }
    }
  }
  h1.page-header {
    margin-top: 24px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}