.block-bean {
  position: relative;
  .img-responsive {
    margin: 0px auto;
  }
  .field-name-field-link {
    @include btn-block(100px);
  }
  .block-title {
    text-align: center;
    margin-top: 160px;
    span {
      font-size: 44px;
      background: #fff;
      color: #000;
      font-family: 'MuseoSansBlack';
      padding: 0px 5px;
      display: inline-block;
      letter-spacing: 5px;
    }
  }
  &#block-bean-carousel {
    .block-title {
      margin: 0px;
      position: absolute;
      left: 0px;
      top: 160px;
      width: 100%;
      text-align: center;
      span {
        background: #000;
        color: #fff;
      }
    }
    .field-name-field-link {
      & > div {
        padding-top: 112px;
      }
      a {
        border-color: #000;
        color: #000;
        &:hover {
          color: #0e1f43;
        }
        span {
          background-position: -19px 0px;
        }
      }
    }
  }
}
#block-views-flex-slider-block,
#block-bean-static-block-front {
  display: none;
}

#block-bean-static-block-front {
  h2.block-title {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 160px;
    margin: 0px;
  }
  .field-name-field-link > div {
    position: relative;
    top: 108px;
  }
}

.not-front {
  #block-bean-static-block-front {
    margin-top: 88px;
  }
}