.view-commerce-cart-form {

  .wrap-promo {
    position: relative;
    margin-bottom: 9px;
  }
  .form-item-promo {
    float: right;
    position: relative;
    top: -13px;
    .form-text {
      width: 242px;
      display: inline-block;
      border-width: 2px;
      padding-left: 7px;
      padding-right: 7px;
      height: 38px;
    }
  }

  .delete-line-item {
    border-color: transparent;
  }
  .views-field-edit-quantity {
    .form-type-textfield {
      text-align: center;
    }
    .form-text {
      width: auto;
      padding: 0px;
      border-color: black;
      display: inline-block;
      text-align: center;
      height: 30px;
      margin-top: 10px;
    }
  }
  .views-table {
    th, td {
      text-align: center;
      width: 25%;
    }
    th {
      border-width: 1px;
    }
    th:first-child, td:first-child {
      text-align: left;
    }
    td.price {
      font-weight: bold;
    }
  }
  .commerce-line-item-actions .form-submit {
    @include button;
    text-transform: uppercase;
    font-family: "MuseoSansBlack";
    width: 360px;
    font-size: 20px;
    height: 73px;
  }
  .line-item-total-raw {
    color: $cherry;
  }
  .line-item-total {
    font-weight: bold;
  }
  .glyphicon-trash {
    font-size: 25px;
  }
}

.cart-title {
  font-size: 15px;
}

.page-cart {
  .sub-total {
    text-align: right;
    margin-bottom: 12px;
    margin-bottom: 12px;
    span {
      font-weight: bold;
      color: $cherry;
    }
  }
  .remove-url {
    color: #585858;
    font-weight: bold;
    margin-left: 8px;
  }
  .region-content {
    @include fix-width(1180px);
  }
  .continue-cart {
    color: #808080;
    background: url("../images/continue.png") left center no-repeat;
    padding-left: 20px;
  }
  .page-header {
    padding-top: 18px;
    span {
      color: $cherry;
    }
  }

  .cart-cars {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #a8a8a8;
  }
  .wrap-cart > div {
    & + div {
      padding: 0px;
    }
    &:first-child {
      text-align: left;
      a {
        position: relative;
      }
    }
  }

  .cart-title,
  .cart-size,
  .cart-color {
  }
  .view-commerce-cart-form {
    margin-top: 20px;
  }
}

.view-display-id-block_1 {
  .views-row {
    border-bottom: 1px solid #929292;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .views-row-last {
    border-bottom: none;
  }
}

.wrap-cart {
  &.row {
    display: flex;
    flex-wrap: wrap;
  }

  [class*="col-"] {
    display: flex;
    flex-direction: column;
  }
  .cart-cars {
    position: absolute;
    bottom: 0px;
    left: auto;
  }
}

.ajax-shopping-cart-wrapper {
  .wrap-cart {
    .col-md-6 {
      display: inline-block;
      &:first-child a {
        color: #555;
      }
      &:last-child {
        color: #000;
      }
      .cart-title a {
        color: #000;
      }
    }
  }

  & .cart-popup {
    position: relative;
    top: -6px;
    right: -23px;
  }
  & .cart-popup:before {
    @include before(41px, 25px, auto, -25px);
    background: url("../images/basket-ugol.png") no-repeat;
    right: 0px;
  }
  position: absolute;
  right: 30px;
  top: 70px;
  z-index: 1000;

  h2.title {
    text-align: left;
    text-transform: uppercase;
    color: #111111;
    font-size: 25px;
    margin: 0px;
    margin-bottom: 25px;
    span {
      color: $cherry;
    }
  }
  & .cart-popup {
    background: #fff;
    padding: 27px 42px;
  }
  width: 553px;
  .ajax-shopping-cart-more-info {
    & > div {
      float: none;
      font-family: "MuseoSansRegular";
      font-size: 30px;
      font-weight: bold;
    }
  }
  .ajax-shopping-cart-total {
    padding-top: 16px;
    margin: 0px;
    border-top: 1px solid #929292;
    & > div {
      padding: 0px;
      color: #000;
    }
    & > div:first-child {
      text-align: left;
    }
    & > div:last-child {
      text-align: right;
      font-size: 25px;
      padding-top: 5px;
    }
  }
  .ajax-shopping-cart-checkout {
    margin-top: 28px;
    a {
      @include user-btn(#000, #fff);
      font-family: "MuseoSansBlack";
      font-size: 27px;
      text-align: center;
    }
  }
  .wrap-cart {
    & > div:first-child > a {
      float: left;
      position: relative;
      z-index: 100;
    }
    & > div {
      & :first-child {
        text-align: left;
      }
      padding: 0px;
    }
    .cart-title {
      font-weight: bold;
    }
  }
  .views-row {
    list-style: none;
  }
  .images-link {
    text-align: left;
    padding-left: 130px;
  }
  .remove-link {
    text-align: right !important;
    padding-top: 10px;
    .icon {
      color: #000;
    }
  }
  .views {

  }
  ul {
    padding: 0px;
  }
  .row {
    margin: 0px;
  }
  .basket-icon {
    display: inline-block;
    cursor: pointer;
    background: url(../images/header.png) no-repeat -243px 4px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -69px;
    right: -13px;
    .basket-link {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.cart-popup {
  display: none;
}

.basket-count {
  background: #801818;
  position: absolute;
  right: -12px;
  bottom: -5px;
  color: #fff;
  text-align: center;
  width: 17px;
  height: 17px;
  font-weight: bold;
  font-size: 12px;
  @include border-radius(10px);
}

.ajax-shopping-cart-wrapper {
  top: 70px;
}

.admin-menu {
  .ajax-shopping-cart-wrapper {
    top: 69px;
  }
}

.light-theme {
  .cart-popup {
    border: 1px solid #ccc;
    @include box-shadow(4px 4px 5px 0px rgba(0, 0, 0, 0.75));
  }
  .cart-popup:before {
    display: none;
  }
}

.add-cart-message-wrapper {
  z-index: 1000;
}