.page-carousel {
  #block-bean-carousel {
    margin-left: -15px;
    margin-right: -15px;
  }
  #buttons {
    text-align: center;
    span {
      display: inline-block;
      background: url("../images/carousel.png") no-repeat;
      width: 32px;
      height: 32px;
      cursor: pointer;
      margin: 5px 20px;
      &.btn-left {
        background-position: 0px 0px;
      }
      &.btn-right {
        background-position: -71px 0px;
      }
    }
  }
  .carousel {
    .view-content {
      height: 645px;
      a.coll-img span.coll-bg {
        opacity: 1;
      }
      .coll-img {
        img {
          @include box-shadow(1px 1px 5px 0 rgba(0,0,0,0.75));
        }
      }
    }
    .view-footer {
      position: relative;
      top:-15px;
    }
    &.count4 {
      div[style*="z-index: 100;"] {
        a.coll-img span.coll-bg {
          opacity: 0;
        }
      }
    }
  }
}