.view-catalog {
  .ui-slider {
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
      position: relative;
      cursor: pointer;
      border: none;
      width: 4px !important;
      height: 28px;
      background: #000;
      display: inline-block;
      top: -12px;
      margin-left: -3px;
    }
    .ui-widget-header .ui-state-default {
    }
    &.ui-slider-horizontal {
      height: 5px;
    }
    .ui-widget-header {
      background: #000;
    }
  }

  .views-widget-filter-commerce_price_amount {
    & label:before {
      display: none !important;
    }
    .views-widget {
      div.form-item {
        display: inline-block;
        .form-control {
          display: inline-block;
          width: 75px;
          border: 0px;
        }
      }
    }
  }
  .views-count {
    font-weight: bold;
    margin-bottom: 21px;
    font-size: 18px;
  }
  .view-filters {
    .views-exposed-form {
      .views-exposed-widget {
        float: none;
        & > label {
          cursor: pointer;
          position: relative;
          padding-right: 20px;
          color: #333333;
          padding-left: 0px;
          &:before {
            @include before(12px, 7px, 'auto', 7px);
            background-image: url("../images/filter.png");
            right: -5px;
          }
          &.open:before {
            background-position: -18px 0px;
          }
        }
      }
      .form-type-radio {
        label {
          img {
            @include img-animate(1.3);
          }
          input {
            position: relative;
            margin-right: 20px;
            display: none;
            & + span {
              @include before(12px, 12px, 0px, 3px);
              background: url("../images/attributes.png") no-repeat;
              background-position: 0px -39px;
            }
            &:checked + img {
              @include transform(scale(1.3));
            }
            &:checked + span {
              background-position: 0px 0px;
            }

          }
        }
      }
      .views-widget-filter-commerce_price_amount {
        .views-widget {
          //display: none;
        }
      }
    }
  }
  .view-content {
    .views-field-commerce-price {
      margin-bottom: 55px;
    }
    .views-field-title {
      padding: 3px 0px 0px 0px;
    }
    .views-field-field-images {
      display: inline-block;
      img {
        border: 2px solid transparent;
      }
      img:hover {
        border: 2px solid #c4c2c1;
      }
    }
    .views-field-title a,
    .views-field-commerce-price {
      color: #333;
    }
  }
  .col {
    text-align: center;
  }
  .views-widget-filter-field_color_tid {
    .form-radios {
      margin: 20px 0px 0px 0px;
    }
  }
  .views-widget-filter-field_size_tid {
    .views-widget {
      display: none;
    }
  }
  .form-item-field-color-tid {
    &:first-child {
      position: relative;
      top: -10px;
    }
    display: inline-block;
    label {
      input {
        display: none;
      }
    }
  }
  .form-item-commerce-price-amount-max {
    label {
      margin: 0px 10px;
      padding: 0px !important;
    }
  }
  .form-item-field-categories-tid,
  .form-item-field-size-tid {
    margin: 15px 0px 0px 0px;
  }

  .form-radios.bef-select-as-radios {
    margin-bottom: 27px;
  }

  .views-widget-per-page,
  .views-widget-sort-sort_bef_combine {
    display: none;
  }
}

.page-catalog, .page-taxonomy {
  .main-container {
    & > .row {
      margin: 0px;
      padding: 0px 3px;
    }
  }
}

.pagination {
  li {
    &.next, &.prev {
      a {
        color: #939393;
        &:hover {
          color: #3e3e3e;
        }
      }
    }
    span, a {
      &, &:hover, &:focus {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    a {
      color: #939393;
    }
    &.active {
      span {
        color: #3e3e3e !important;
        background: none !important;
      }
    }
  }
}

.view-wishlist, .view-catalog {
  .field-content {
    position: relative;
    //width: 225px;
    .flag-wrapper {
      .ajax-progress, .flag-throbber, .flag-message {
        display: none !important;
      }
      a {
        &, &:hover {
          text-decoration: none;
        }
      }
      position: absolute;
      right: 7px;
      top: 11px;
      .wishlist-text {
        display: none;
      }
      .heart {
        background: url("../images/heart-cat.png") no-repeat 0px 0px;
        width: 34px;
        height: 35px;
        cursor: pointer;
        display: inline-block;
      }
      .unflag-action {
        .heart {
          background-position: 0px -35px;
        }
      }
    }
  }
}

.logged-in .not-logged {
  display: none;
}

.view-wishlist {
  .field-content {
    width: 225px;
    display: inline-block;
  }
  .views-field {
    text-align: center;
  }
}
