.page-checkout {
  .region-content {
    .invoice {
      text-align: center;
      position: relative;
      top: -5px;
      color: #fcfbfb;
      font-family: "MuseoSansRegular";
    }
    form {
      @include fix-width(388px);
    }
    .form-item-check-shiping {
      padding-left: 14px;
      label {
        @include checkbox;
        color: #fcfbfb;
      }
    }
    .panel {
      margin-bottom: 0px;
      .form-group {
        margin-bottom: 19px;
      }
      .panel-heading {
        display: none;
      }
      &, &:focus, .form-control {
        @include clear-bg;
        @include box-shadow(none);
      }
      .form-control {
        color: #fff;
        border-bottom: 2px solid #fff;
        font-family: "MuseoSansRegular";
      }
      &.edit, &.checkout-buttons {
        .form-submit {
          @include user-btn(#fff, #000);
          padding: 26px;
        }
      }
      &.default {
        @include fix-width(336px);
        margin-top: 36px;
        position: relative;
        border: 3px solid #fff;
        &:before {
          @include before(61px, 62px, 0px, 0px);
          background: url("../images/ugol.png") no-repeat;
        }
        .field-name-field-zip-postal-code,
        .field-name-field-apartment-suite-unit {
          display: none;
        }
        .panel-body {
          padding: 42px 15px 42px 125px;
          .field {
            position: relative;
            margin-bottom: 34px;
            &:before {
              @include before(26px, 26px, -46px, 2px);
              background: url("../images/default.png") no-repeat;
            }
          }
          .field-name-field-street:before {
            background-position: 0px -52px;
          }
          .field-name-field-town-city:before {
            background-position: 0px -156px;
          }
          .field-name-field-phone-number:before {
            background-position: 0px -246px;
            top: -5px;
          }
          .form-submit {
            @include clear-bg;
            position: relative;
            padding: 0px;
            &:before {
              @include before(26px, 26px, -46px, 2px);
              background: url("../images/default.png") no-repeat;
              background-position: -4px -299px;
              top: -4px;
              left: -42px;
            }
            &:hover {
              text-decoration: $link-hover-decoration;
            }
          }
        }
      }
      .icon {
        display: none;
      }
      div {
        margin-right: 0px;
        float: none;
        color: #a2a1a1;
      }
      .form-group {
        font-size: 19px;
      }
      .form-type-select {
        label {
          display: none;
        }
      }
    }
    .d-btn {
      margin: 79px -79px 0px -79px;
      .form-submit {
        font-family: "MuseoSansBlack" !important;
        font-size: 24px !important;
        padding: 23px !important;
      }
    }
  }

  &.black-theme {
    .steps {
      position: relative;
      height: 100px;
      margin-top: 18px;
      &:before {
        @include before(100%, 2px, 0px, 57px);
        background: #9f9f9f;
      }
      div {
        text-align: center;
        position: relative;
        font-size: 19px;
        &.active {
          color: #fff;
        }
        &:before {
          @include before(52px, 52px, 50%, 32px);
          background: url("../images/steps.png") no-repeat #000;
          margin-left: -26px;
        }
        &.step-1 {
          &:before {
            background-position: 0px -52px;
          }
          &.active:before {
            background-position: 0px 0px;
          }
        }
        &.step-2 {
          &:before {
            background-position: -386px -52px;
          }
          &.active:before {
            background-position: -386px 0px;
          }
        }
        &.step-3 {
          &:before {
            background-position: -774px -52px;
          }
          &.active:before {
            background-position: -774px 0px;
          }
        }
      }
    }
  }

  &.light-theme {
    .steps {
      position: relative;
      height: 100px;
      margin-top: 18px;
      &:before {
        @include before(100%, 2px, 0px, 57px);
        background: #9f9f9f;
      }
      div {
        text-align: center;
        position: relative;
        font-size: 19px;
        color: #b3b3b3;
        &.active {
          color: #000;
        }
        &:before {
          @include before(72px, 52px, 50%, 32px);
          background: url("../images/steps.png") no-repeat;
          margin-left: -36px;
          border-left: 10px solid #fff;
          border-right: 10px solid #fff;
        }
        &.step-1 {
          &.done:before {
            background-position: 0px -104px;
          }
        }
        &.step-2 {
          &.done:before {
            background-position: 0px -104px;
          }
        }
        &.step-3 {
          &.active:before {
            background-position: -774px -104px;
          }
        }
      }
    }
  }
}

.checkout-completion-message {
  p {
    margin-bottom: 15px;
    &:first-child {
      margin-top: 46px;
      font-size: 20px;
      & + p {
        font-size: 15px;
        & + p {
          margin-top: 46px;
          margin-bottom: 39px;
          a {
            color: #919191;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.commerce-customer-profile-copy {
  display: none;
}

.trigger-copy {
  padding: 0px 15px;
  margin-top: 16px;
  label {
    font-size: 16px;
  }
  .form-item {
    width: 50%;
    display: inline-block;
    &:last-child {
      text-align: right;
    }
  }
}

.customer_profile_shipping.edit {
  .panel-body {
    padding-top: 0px;
    margin-top: -13px;
  }
}

.checkout-buttons.e-btn .form-submit{
  font-family: "MuseoSansBlack" !important;
}