@media #{$normal} {
  .page-collections {
    .region-content {
      @include fix-width(1180px);
      .more {
        text-align: center;
        padding-top: 48px;
        a {
          color: #333;
          text-transform: uppercase;
          font-size: 22px;
        }
      }

    }
  }

  .view-collections {
    .row {
      &:first-child {
        // 1
        .col:first-child {
          // 1.1
          & {

          }
          // 1.2
          & + .col {
            & > div {
              margin: 70px 0px 0px 48px;
              .coll-title {
                bottom: 308px;
              }
            }
          }

        }
        // 2
        & + .row {
          .col:first-child {
            // 2.1
            & > div {
              margin: 0px 0px 0px 54px;
            }
            // 2.2
            & + .col {
              & > div {
                margin: 45px 0px 0px 105px;
              }
            }
          }
        }
      }
    }

    margin-top: 20px;
    .inner-wrap {
      position: relative;
    }
    a.coll-img {
      display: inline-block;
      position: relative;
      &:hover {
        span.coll-bg {
          opacity: 1;
        }
      }
      span.coll-bg {
        @include transition(opacity 0.5s ease-in-out);
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        span {
          line-height: 90px;
          @include absolute-center;
          text-align: center;
          font-size: 74px;
          height: 176px;
          font-family: "MuseoSansBold";
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
    .coll-title {
      font-family: "MuseoSansRegular";
      font-size: 33px;
      color: #333;
      bottom: 134px;
      left: -175px;
      position: absolute;
      z-index: 1;
      display: inline-block;
      width: 300px;
      @include transform(rotate(-90deg));
      &:hover {
        text-decoration: none;
      }
    }
  }
}
