@media #{$normal} {
  .front {
    .container-fluid {
      .row {
        .col-sm-12 {
          padding: 0px;
        }
      }
    }
    .main-container {
      #block-views-flex-slider-block {
        margin-top: -$navbar-height;
      }
    }
  }
  .node {
    .field-name-body {
      p {
        line-height: 31px;
        margin-bottom: 20px;
      }
    }
    .field-name-field-image {
      padding-top: 9px;
    }
  }
}

.breadcrumb {
  display: inline-block;
  background: none;
  padding: 0px;
  margin-bottom: 30px;
  a {
    color: #666;
  }
  li:last-child {
    color: #000;
  }
  li:first-child {
    a {
      text-transform: uppercase;
    }
    & + li a {
      text-transform: uppercase;
    }
    & + li + li a {
      text-transform: uppercase;
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 215px;
  &.page-collections {
    margin-bottom: 250px;
  }
  &.node-type-webform {
    margin-bottom: 250px;
  }
  &.page-checkout-complete {
    margin-bottom: 250px;
  }
  &.page-checkout {
    margin-bottom: 250px;
  }
  &.page-wishlist {
    margin-bottom: 250px;
  }
}

.container-fluid {
  margin-bottom: 10px;
}

.page-node.not-front, .page-faq, .page-wishlist {
  .container-fluid {
    .row {
      & > .col-sm-12 {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
}

.black-theme {
  background: #000;
  .main-container a {
    color: #fff;
  }
}

h1.page-header {
  border-bottom: 0px;
  font-family: "MuseoSansMedium";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 32px;

}

.light-theme {
  background: #fff;
  h1.page-header {
    color: #101010;
  }
}

.splash-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: #fff;
  img {
    @include absolute-center;
  }
}

.region-content {
  //min-height: 1000px;
}

label {
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  input[type='checkbox'] {
    position: relative;
    display: none;
    margin-right: 20px;
    cursor: pointer;
    & + span {
      background: url("../images/checkbox.png") no-repeat 0px -20px;
      display: block;
      position: absolute;
      width: 24px;
      height: 20px;
      content: '';
      left: -1px;
      top: -2px;
    }
    &:checked + span {
      background: url("../images/checkbox.png") no-repeat 0px 0px;
    }
  }
  img {
    width: 19px;
    height: 19px;
  }
}

label {
  font-size: 14px;
  padding-left: 30px;
  position: relative;
  input[type='radio'] {
    position: relative;
    display: none;
    margin-right: 20px;
    cursor: pointer;
    & + span {
      background: url("../images/radio.png") no-repeat -241px 0px;
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      content: '';
      top: -2px;
    }
    &:checked + span {
      background: url("../images/radio.png") no-repeat 0px 0px;
    }
  }
}

.currency_select_menu {
  list-style: none;
  padding: 0px;
  text-align: right;
  li {
    display: inline-block;
  }
}

#block-commerce-multicurrency-currency-menu {
  display: none;
}
.node-type-product, .page-catalog, .page-taxonomy {
  #block-commerce-multicurrency-currency-menu {
    display: block;
  }
}