.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  background: #000;
  @media #{$normal} {
    .block-menu {
      padding: 0px;
      position: relative;
    }
    #block-menu-menu-left-menu {
      left: -17px;
      ul.menu {
        width: 140px;
      }
    }
    #block-menu-menu-center-menu {
      left: -38px;
    }
    #block-menu-menu-right-menu {
      left: 44px;
      ul.menu {
        width: 140px;
      }
    }
    .nav {
      li {
        a {
          display: inline;
          color: #ccc;
          font-size: 16px;
          padding: 0px;
          &:hover {
            background: none;
          }
          &:focus {
            background: none;
            border: 0px;
          }
        }
        &:hover {
          text-decoration: underline;
        }
        margin-bottom: 7px;
      }
      .first {
        margin-bottom: 10px;
        a {
          color: #fff;
          font-size: 21px;
          text-transform: uppercase;
        }
      }
    }
    &.row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .soc-links {
    a {
      display: inline-block;
      background: url("../images/soc.png") no-repeat;
      width: 42px;
      height: 40px;
      cursor: pointer;
      margin-right: 21px;
      &.inst {
        background-position: -63px 0px;
      }
      &.tw {
        background-position: -126px 0px;
      }
      &.mail {
        background-position: -189px 0px;
      }
      &.phone {
        background-position: -251px 0px;
      }
    }
  }
}

// Sticky footer bootstrap 3.
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  min-height: 205px;
}

.region-soc-links {
  .block {
    &:first-child {
      margin-bottom: 37px;
    }
  }
}

.block-simplenews {
  p {
    color: #949393;
    font-size: 19px;
    margin-top: 3px;
    margin-bottom: 15px;
  }
  .form-item-mail {
    display: block;
    .form-text {
      width: 240px;
      height: 38px;
    }
    float: left;
  }
  .form-submit {
    border: 1px solid #fff;
    background: transparent;
    color: #949393;
    text-transform: uppercase;
    width: 125px;
    position: relative;
    padding: 7px 0px;
    //top: -1px;
    left: 2px;
  }
}