.front {
  #navbar {
    margin-bottom: 0px;
    z-index: 11;
    height: $navbar-height;
  }
}

@media (min-width: 768px) {
  #navbar {
    border: none;
    .navbar-toggle {
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -32px;
      border-color: transparent;
      top: -5px;
      background-color: transparent;
      &[aria-expanded="true"] {
        background: url("../images/menu.png") no-repeat center;
        span {
          opacity: 0;
        }
      }
      &[aria-expanded="false"] {
        background: none;
      }
      .icon-bar {
        background: #000;
        height: 4px;
        width: 44px;
        & + .icon-bar {
          margin-top: 7px;
        }
      }
    }
    .navbar-nav {
      float: none;
      background: $navbar-default-bg;
      li {
        float: none;
        position: relative;
        display: block;
        margin: 18px 0px;
        &.last {
          margin-bottom: 0px;
        }
        &.first {
          margin-top: 33px;
        }
        a {
          &.active {
            background: none;
          }
          position: relative;
          display: block;
          padding: 10px 15px;
          text-align: center;
          font-size: 31px;
          font-family: "MuseoSansBlack";
          text-transform: uppercase;
          color: #333;
          span {
            display: inline-block;
            padding: 0px 20px;
            position: relative;
            &::before {
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 3px;
              background: #000;
              content: '';
              margin-top: -2px;
            }
          }
        }
      }
    }
    .navbar-collapse {
      &.collapse {
        display: none !important;
      }
      &.collapse.in {
        display: block !important;
      }
      padding: 0px;
    }

    .navbar-wraper {
      //padding-top: 32px;
      position: absolute;
      top: $navbar-height - 1;
      width: 100%;
      left: 0px;
      z-index: 1000;
    }
  }
}

.navbar-wraper > div {
  nav, .region {
    background: #fff;
  }
}

#navbar {
  .navbar-header {
    float: none;
    padding-top: 17px;
  }
  .logo {
    margin-top: 0px;
    margin-left: 20px;
  }
  .login-url {
    font-size: 18px;
    text-transform: uppercase;
    color: $header-color-text;
    position: relative;
    top: 5px;
    display: inline-block;
    &.not-logged {
      top: -1px;
    }
    & + .user-url {
      top: -1px;
    }
  }
  .user-url {
    margin-left: 15px;
  }
  .header-right {
    float: right;
    margin-right: 20px;
    position: relative;
    #block-search-form {
      padding-right: 13px;
      margin: 0px;
      position: relative;
      form {
        position: relative;
        display: inline-block;
        .input-group-btn {
          display: none;
        }
        & > div {
          display: none;
        }
      }
    }
    .region-header-right {
      float: right;
      position: relative;
      .block, #block-search-form {
        margin-left: 10px;
      }
      .search-trigger {
        display: inline-block;
        background: url("../images/header.png") no-repeat -162px 0px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        position: absolute;
        right: -21px;
        top: 5px;
        z-index: 100;
      }
    }
    .icon-user {
      display: inline-block;
      background: url("../images/header.png") no-repeat 0px 0px;
      width: 26px;
      height: 26px;
    }
    .wishlist-url {
      margin: 0px 37px;
    }
    .icon-wishlist {
      display: inline-block;
      background: url("../images/header.png") no-repeat -80px 0px;
      width: 28px;
      height: 26px;
      position: relative;
      top: 5px;
    }
  }
}

.region-lang-switcher {
  background: $navbar-default-bg;
  position: relative;
  &:before {
    @include before(100%, 16px, 0px, auto);
    background: url("../images/shadow.png") repeat-x;
    bottom: -16px;
  }
}

#block-search-form {
  margin-right: 122px !important;
  .form-actions {
    display: none;
  }
}

.language-switcher-locale-url {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  padding-top: 31px;
  padding-bottom: 15px;
  li, a {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    color: #8d8d8d;
  }
  li {
    margin: 0px 7px;
    a {
      padding-left: 23px;
      &.active {
        color: #000;
      }
    }
    .locale-untranslated {
      padding-left: 23px;
    }
    &:before {
      @include before(18px, 18px, 0px, 2px);
      background: url("../images/lang.png") no-repeat;
    }
    &:after {
      content: '/';
      position: relative;
      right: -9px;
    }
    &.last:after {
      content: '';
    }
    &.en:before {
      background-position: -203px 0px;
    }
    &.it:before {
      background-position: 0px 0px;
    }
    &.ja:before {
      background-position: -115px 0px;
    }
  }
}

.sub-header {
  position: relative;
  z-index: 999;
  .item-list {
    &, & ul, & li {
      display: inline-block;
    }
  }
  .list-page {
    float: right;
    margin-right: 22px;
    .item-list {
      li {
        margin-left: 13px;
        &, & a {
          color: #9b9b9b;
        }
        a.active {
          color: #575757;
        }
      }
      .pages {
        padding-left: 2px;
      }
    }
  }
  .list-sort {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 200px;
    margin-left: -100px;
    background: none;
    border: none;
    select {
      margin-left: 10px;
    }
  }
}

.not-front.black-theme {
  #navbar {
    background-color: #000;
    .header-right {
      &, a {
        color: #fff;
      }
      .icon-wishlist {
        background-position: -80px -26px;
      }
      .search-trigger {
        background-position: -162px -26px;
      }
      .basket-icon {
        background-position: -243px -22px;
      }
      .icon-user {
        background-position: 0px -26px;
      }
    }
    .navbar-toggle .icon-bar {
      background: #fff;
    }
  }
}