@mixin clear-bg {
  background: none;
  border: none;
}

@mixin absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin btn-block($height) {
  @include absolute-center;
  height: $height;
  text-align: center;
  a {
    position: relative;
    display: inline-block;
    padding: 16px 67px 13px 16px;
    font-size: 33px;
    border: 5px solid #fff;
    text-transform: uppercase;
    font-family: "MuseoSansBold";
    &:hover {
      text-decoration: none;
      color: #cccccc;
    }
    span {
      display: block;
      background: url("../images/arrow.png") no-repeat;
      width: 19px;
      height: 36px;
      position: absolute;
      right: 23px;
      top: 20px;
    }
  }
}

@mixin before($w, $h, $l, $t) {
  position: absolute;
  top: $t;
  left: $l;
  width: $w;
  height: $h;
  content: '';
  display: block;
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transform($transform) {
  -moz-transform: $transform;
  -o-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin box-shadow($box-shadow) {
  -moz-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin border-radius($border-radius) {
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin img-animate($scale) {
  cursor: pointer;
  @include transition(all .2s ease-in-out);
  &:hover {
    @include transform(scale($scale));
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

@mixin fix-width($w) {
  width: $w;
  margin: 0px auto;
}

@mixin button {
  background: #000;
  font-size: 19px;
  color: #fff;
  margin-top: 13px;
  padding: 10px 40px;
  border-width: 0px;
  span.icon {
    display: none;
  }
}

@mixin user-btn($background, $color) {
  text-transform: uppercase;
  width: 100%;
  background-color: $background;
  border: 2px solid #fff;
  color: $color;
  font-family: "MuseoSansBold";
  padding: 17px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

@mixin checkbox() {
  font-size: 14px;
  padding-left: 30px;
  & input {
    position: relative;
    width: 0px;
    margin-right: 20px;
    cursor: pointer;
    &:after {
      background: url("../images/checkbox.png") no-repeat 0px -20px;
      display: block;
      position: absolute;
      width: 24px;
      height: 20px;
      content: '';
      left: -10px;
      top: -2px;
    }
    &:checked:after {
      background: url("../images/checkbox.png") no-repeat 0px 0px;
    }
  }
}