.page-checkout-review {
  &.page-checkout {
    #block-system-main {
      form {
        @include fix-width(500px);
      }
    }
  }
  #block-system-main {
    & .steps div.step-1.done:before {
      background-position: 0px -156px;
    }

    .panel-body {
      & input, & select {
        height: 36px;
      }
      & label {
        position: relative;
        top: 12px;
      }
      #payment-details {
        margin-top: 42px;
      }
      #payment-details > .form-item,
      .wrap-expire {
        margin-bottom: 71px;
      }
      .form-radios {
        text-align: center;
        & > div {
          display: inline-block;
          width: 135px;
          &:first-child {
            input {
              top: 6px;
            }
          }
          &:last-child {
            input {
              top: -2px;
            }
            img {
              left: 35px;
            }
          }
        }
        label {
          padding-right: 50px;
          padding-left: 0px;
          img {
            position: relative;
            left: 30px;
            width: auto;
          }
        }
      }
      .form-select,
      .form-text {
        background: #fff;
        color: #000;
      }
      .form-type-textfield,
      .commerce-credit-card-expiration,
      .wrap-expire {
        label, input {
          display: inline-block;
          float: left;
          //width: 50%;
          padding: 0px;
        }
        label {
          width: 170px;
          font-family: "MuseoSansRegular";
          font-size: 16px;

        }
        select {
          width: 140px;

        }
        input {
          padding: 0px 10px;
          width: 300px;
        }
        .inner-expire {
          width: 300px;
          display: inline-block;
          & > div {
            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
          }
        }
      }
      .commerce-credit-card-expiration {
        & > div {
          display: inline-block;
          width: 33%;
        }
      }

    }
    .commerce_payment {
      margin-top: 26px;
    }
  }
  #payment-details {
    & > div {
      // clearfix.
      &:before, &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }
  }
  .payment-link {
    text-align: center;
    margin-top: 9px;
    a {
      color: #7d7c7c;
      font-family: "MuseoSansRegular";
      font-size: 16px;
    }
  }
  .total {
    border-top: 1px solid #9f9f9f;
    margin: 0px 15px;
    padding-top: 21px;
    padding-bottom: 44px;
    div {
      padding: 0px;
      font-size: 18px;
      font-family: "MuseoSansBlack";
      color: #fff;
      text-transform: uppercase;
      &:last-child {
        text-align: right;
      }
    }
  }
  .form-item-commerce-payment-payment-details-credit-card-code {
    input {
      width: 143px !important;
    }
  }
  .info {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("../images/info.png") no-repeat;
    cursor: pointer;
    position: relative;
    left: 15px;
    top: 5px;
  }
}
