@media #{$phone} {
  .page-checkout-review #block-system-main .panel-body #payment-details > .form-item, .page-checkout-review #block-system-main .panel-body .wrap-expire {
    margin-bottom: 15px !important;
  }
  .page-checkout-review #block-system-main .panel-body .form-type-textfield .inner-expire, .page-checkout-review #block-system-main .panel-body .commerce-credit-card-expiration .inner-expire, .page-checkout-review #block-system-main .panel-body .wrap-expire .inner-expire {
    width: auto;
  }

  //Payment 2.
  .page-checkout-review.page-checkout {
    #block-system-main form {
      width: auto;
      label {
        display: block;
        top: 0px;
        padding-left: 0px;
      }
      .info {
        display: none;
      }
      .inner-expire {
        .form-item {
          float: none;
          display: block;
        }
        select {
          margin: 0px 2px;
        }
      }
    }
    .wrap-expire {
      margin-bottom: 0px !important;
    }
  }

  .page-checkout-complete {
    .flex-direction-nav {
      display: none;
    }
  }

  //Payment 1.
  .page-checkout.black-theme, .page-checkout-complete {
    .steps div {
      display: none;
      &.active {
        display: block;
      }
    }
    .region-content .d-btn .form-submit {
      width: auto !important;
      font-size: 16px !important;
      padding: 5px !important;
    }
    .region-content .d-btn {
      margin: 0px !important;
    }
    .checkout-buttons {
      text-align: center;
    }
    .header-right {
      display: none;
    }
    .region-content form {
      width: auto;
    }
    .panel.default {
      width: auto;
    }
  }

  .row.steps {
    margin: 0px;
  }
  body.page-checkout {
    margin-bottom: 0px;
  }

  body {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }

  // Collections.

  .page-collections {
    .view {
      .col {
        text-align: center;
        padding: 0px 10px;
        a {
          color: #555;
          font-size: 22px;
          text-decoration: none;
          p {
            font-size: 22px;
          }
        }
      }
    }
    .more {
      text-align: center;
      a {
        color: #555;
      }
    }
  }

  // Catalog.
  .page-catalog, .page-taxonomy {
    .sub-header {
      & > div {
        display: block;
        width: 100%;
        float: none;
        position: static;
        margin: 0px;
      }
    }
  }

  .header-right {
    position: static !important;
  }

  // Cart.
  .page-cart {
    .wrap-cart {
      display: table;
      & > div {
        display: table-cell;
        vertical-align: top;
      }
    }
    .continue-cart {
      margin-left: 10px;
    }
    .region-content {
      width: auto;
    }
    .commerce-line-item-actions {
      text-align: center;
    }
  }

  // Product.
  .node-type-product {
    .flexslider.optionset-product .flex-control-nav {
      padding-top: 20px;
      padding-bottom: 20px;
      li {
        margin: 8px;
        width: 70px;
      }
    }
    .flex-direction-nav {
      display: none;
    }
    .header-right {
      position: static !important;
    }
    .flexslider .slides > li {
      text-align: center;
      img {
        padding: 0px !important;
      }
    }
  }

  .flexslider.optionset-default .flex-control-nav li a {
    width: 10px;
    height: 10px;
  }
  .flexslider.optionset-default .slider-inner-text p strong {
    font-size: 14px;
  }
  .ajax-shopping-cart-wrapper .basket-icon {
    top: -100px;
  }
  #navbar .header-right {
    position: static;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    background: #fff;
    padding: 10px;
    z-index: 1000;
  }
  .col-sm-12 {
    padding: 0px;
  }
  .flexslider.optionset-default .slider-inner-text p {
    font-size: 18px;
    margin: 5px 0px;
    &:first-child {
      margin-top: 50px !important;
    }
  }
  .flexslider.optionset-default .slider-inner-text a {
    font-size: 18px;
    padding: 5px;
  }
  .flexslider.optionset-default .slider-inner-text a span {
    top: 9px;
  }
  .block-bean .field-name-field-link a span {
    top: 9px;
  }
  .flexslider.optionset-default .flex-control-nav {
    bottom: 0px;
  }

  .block-bean .field-name-field-link a {
    font-size: 18px;
  }

  #block-bean-static-block-front h2.block-title {
    top: 50px;
  }

  #block-bean-static-block-front .field-name-field-link > div {
    top: 65px;
  }

  .block-bean .block-title span {
    font-size: 24px;
  }

  .navbar-collapse {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  .footer, .region-footer {
    position: relative;
    margin: 0px;
    padding: 0px;
    .block-menu {
      padding: 0px;
    }
    .nav li a {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }

  .navbar-toggle {
    margin-top: 0px;
  }

  .navbar-nav {
    margin: 0px;
  }

  .region-footer {
    margin-top: 20px;
  }

  .navbar-collapse.in {
    overflow: hidden;
  }

  #navbar .header-right #block-search-form form {
    input.form-text {
      display: none !important;
    }
  }

  .block-dc-ajax-add-cart {
    position: relative;
  }

  .cart-popup {
    display: none !important;
  }

  body {
    padding: 0px;
    margin: 0px;
  }
  .logo {
    position: relative;
    top: 4px;
    padding-left: 0px !important;
    img {
      width: 185px;
    }
  }
  .flexslider.optionset-default .slider-inner-link,
  .block-bean .field-name-field-link {
    a {
      text-align: center;
      padding: 5px;
      span {
        display: none;
      }
    }
  }
  .block-bean .field-name-field-link {
    padding-top: 20px;
  }
  #navbar .header-right .wishlist-url {
    margin: 0px;
  }
  #navbar .header-right .region-header-right {
    //float: none;
  }
  #navbar .header-right .region-header-right .block, #navbar .header-right .region-header-right #block-search-form {
    margin: 0px !important;
  }
  #navbar .header-right .region-header-right .search-trigger {
    position: relative;
    right: 47px;
  }
  .soc-links {
    padding-top: 15px;
  }
  .light-theme {
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #000;
    }
  }

  .currency_select_menu {
    padding-right: 10px;
  }
  .sub-total, .line-item-summary, .form-item-promo {
    padding-right: 10px;
  }

  .view-commerce-cart-form .commerce-line-item-actions .form-submit {
    width: 270px;
  }
  .view-commerce-cart-form .form-item-promo {
    top: 4px;
  }

  .add-cart-message-wrapper {
    left: 5%;
    right: 5%;
  }
  .product-right {
    padding: 0px;
    text-align: center;
  }
  .breadcrumb > li {
    font-size: 14px;
    &:before {
      padding: 0px;
    }
  }
  .wrap-cart .cart-cars {
    position: static;
  }
  .page-cart .wrap-cart > div {
    display: block;
    width: 100%;
  }
  .page-cart .wrap-cart > div + div {
    padding: 0px 15px;
  }
  #navbar {
    height: auto;
    margin-bottom: 10px;
  }
  .front #navbar {
    height: auto;
    margin-bottom: 0px;
  }
  .container-fluid {
    margin-bottom: 0px;
  }
  .cart-empty-page {
    padding: 10px;
  }
  .page-cart {
    .main-container > div {
      margin: 0px;
    }
  }
  .search-link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .page-user {
    .container-fluid {
      & > .row {
        margin: 0px;
        .nav-tabs {
          margin: 15px 0px;
          border-bottom: 0px;
          text-align: center;
          & > li {
            float: none;
            display: inline-block;
          }
        }
      }
      .password-toggle {
        display: none;
      }
      .login-links {
        padding: 0px;
        li {
          text-align: center;
          display: block;
        }
      }
    }
  }
  .not-front.black-theme {
    #navbar {
      .header-right {
        background-color: #000;
      }
    }
  }
  .user-account .profile {
    width: auto;
    .col-md-6 {
      &:last-child {
        text-align: center;
      }
    }
  }
  .page-carousel {
    .container-fluid {
      & > .row {
        margin: 0px;
      }
    }
    .carousel .view-content {
      //height: 590px;
    }
  }

  .page-collections {
    .region-content {
      @include fix-width(1180px);
      .more {
        text-align: center;
        padding-top: 48px;
        a {
          color: #333;
          text-transform: uppercase;
          font-size: 22px;
        }
      }

    }
  }

  .view-collections {
    .row {
      &:first-child {
        // 1
        .col:first-child {
          // 1.1
          & {

          }
          // 1.2
          & + .col {
            & > div {
              margin: 70px 0px 0px 48px;
              .coll-title {
                bottom: 308px;
              }
            }
          }

        }
        // 2
        & + .row {
          .col:first-child {
            // 2.1
            & > div {
              margin: 0px 0px 0px 54px;
            }
            // 2.2
            & + .col {
              & > div {
                margin: 45px 0px 0px 105px;
              }
            }
          }
        }
      }
    }

    margin-top: 20px;
    .inner-wrap {
      position: relative;
    }
    a.coll-img {
      display: inline-block;
      position: relative;
      &:hover {
        span.coll-bg {
          opacity: 1;
        }
      }
      span.coll-bg {
        @include transition(opacity 0.5s ease-in-out);
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        span {
          line-height: 90px;
          @include absolute-center;
          text-align: center;
          font-size: 34px;
          height: 176px;
          font-family: "MuseoSansBold";
          p {
            margin-bottom: 0px;
          }
        }
      }
    }
    .coll-title {
      font-family: "MuseoSansRegular";
      font-size: 33px;
      color: #333;
      bottom: 134px;
      left: -175px;
      position: absolute;
      z-index: 1;
      display: inline-block;
      width: 300px;
      @include transform(rotate(-90deg));
      &:hover {
        text-decoration: none;
      }
    }
  }
  .block-bean#block-bean-carousel .block-title {
    top: 60px;
  }
  .block-bean#block-bean-carousel .field-name-field-link > div {
    padding-top: 60px;
  }
  .page-collections {
    .container-fluid {
      & > .row {
        margin: 0px;
      }
      .more {
        padding: 10px 0px;
      }
    }
    .region-content {
      width: auto;
    }
    .col-lg-6 {
      width: 100% !important;
      .inner-wrap {
        padding: 0px !important;
        margin: 0px !important;
      }
    }
  }
}

