.node-product {
  padding-bottom: 40px;
}

.product-right {
  button[type='submit'],
  .flag-bookmarks a {
    width: 265px;
    text-align: center;
  }
  padding-left: 60px;
  font-size: 16px;
  .product-title {
    font-size: 20px;
    font-weight: normal;
    font-family: "MuseoSansBold";
    color: #333333;
    margin: 0px;
    margin-bottom: 26px;
    margin-top: -5px;
  }
  .field-commerce-price {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .form-item-attributes-field-color {

    .ajax-progress {
      position: absolute;
    }

    &.form-type-radio {
      display: inline-block;
      margin-right: 20px;
      label {
        padding-left: 0px;
        img {
          @include img-animate(1.3);
        }
        input:checked + img {
          $scale: 1.3;
          @include transform(scale($scale));
        }
      }
    }
    .form-radio {
      width: 0px;
    }
    & > label {
      margin-bottom: 14px;
      padding-left: 0px;
      span {
        font-family: "MuseoSansRegular";
      }
    }
  }
  .form-item-attributes-field-size {
    &.form-type-radios {
      & > label {
        display: none;
      }
      .form-type-radio {
        display: inline-block;
        input {
          width: 0px;
        }
        label {
          border: 1px solid #e5e5e5;
          text-transform: uppercase;
          cursor: pointer;
          width: 42px;
          text-align: center;
          display: inline-block;
          padding: 5px 0px;
          &.active {
            background: #ccc;
          }
        }
      }
    }
  }
  .commerce-add-to-cart {
    button[type='submit'] {
      background: #000;
      font-size: 19px;
      color: #fff;
      margin-top: 13px;
      padding: 10px 40px;
      border-width: 0px;
      span.icon {
        display: none;
      }
    }
    .form-item-attributes-field-color {
      margin-bottom: 7px;
    }
    .form-item-attributes-field-size {
      margin-bottom: 2px;
    }
  }
  .sizes-link {
    color: #333;
    font-size: 14px;
    margin-left: 3px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .field-name-body {
    margin-top: 45px;
    .wrap-ul {
      border-bottom: 1px solid #d0d0d0;
      padding: 9px 0px;
    }
    ul {
      display: none;
      padding: 5px 0px 0px 0px;
      list-style: none;
      margin-bottom: 0px;
      li {
        background: url("../images/point.png") no-repeat left center;
        padding: 3px 0px 3px 23px;
        &:first-child {
          display: none;
        }
      }
    }
    .field-label {
      display: none;
    }
    .field-items {
      width: 263px;
      .ul-title {
        &:hover {
          color: #999;
        }
        font-family: "MuseoSansBold";
        background: url("../images/title.png") no-repeat right center;
        cursor: pointer;
      }
    }
  }
  .links {
    .flag-bookmarks {
      margin-top: 11px;
      a {
        height: 48px;
        display: block;
        background: #fff;
        color: #000;
        font-size: 19px;
        padding: 8px 5px;
        border: 1px solid #888;
        cursor: pointer;
        &:hover {
          background: #f4f4f4;
          text-decoration: none;
        }
        .heart {
          display: inline-block;
          background: url("../images/heart.png") no-repeat;
          width: 20px;
          height: 18px;
          position: relative;
          top: 2px;
          left: -1px;
        }
      }
      .ajax-progress {
        position: absolute;
      }
    }
  }
}