// Front page.
.flexslider.optionset-default {
  @include clear-bg;
  margin: 0px;
  .views-field-nothing {
    color: #fff;
  }
  .flex-direction-nav {
    a {
      display: none !important;
    }
  }
  .flex-control-nav {
    bottom: 65px;
    z-index: 2;
    li {
      border: 2px solid $gray-lighter;
      border-radius: 100%;
      background: transparent;
      a {
        background: transparent;
        width: 15px;
        height: 15px;
      }
      .flex-active {
        background: $gray-lighter;
      }
    }
  }
  .slider-inner-text {
    @include btn-block(261px);
    p {
      font-size: 24px;
      margin-bottom: 40px;
      strong {
        font-family: "MuseoSansBlack";
        font-size: 44px;
      }
    }
  }
  .slider-inner-link {
    text-align: center;
    padding-top: 10px;
  }
}

// Product page.
.product-imgs,
.product-right {
  padding: 0px;
}

.flexslider.optionset-product {
  border-width: 0px;
  margin-bottom: 0px;
  ul.slides {
    float: right;
    li {
      img {
        padding-left: 41px;
        padding-right: 87px;
      }
    }
  }
  .flex-control-thumbs {
    li {
      width: 100%;
      margin-bottom: 20px;
      img {
        @include img-animate(1.1);
        &.flex-active {
          border: 1px solid #737373;
        }
      }
    }
    bottom: auto;
  }
  .flex-control-nav {
    bottom: auto;
    margin-top: 0px;
    li {
      width: 90px;
    }
  }
}

// Reference block.
.node-product, .view-flex-random {
  max-width: 1080px;
  margin: 0px auto;
  .item-list > h3,
  .view-header > h3 {
    text-align: center;
    font-weight: normal;
    font-family: "MuseoSansMedium";
    color: #333;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .flex-direction-nav {
    a {
      background: url("../images/slider.png") no-repeat;
      width: 42px;
      height: 42px;
      opacity: 1;
      text-indent: 9999px;
      margin: 10px 0px 0px 0px;
      &:before {
        display: none;
      }
      &.flex-next {
        background-position: -42px 0px;
        right: -85px;
      }
      &.flex-prev {
        left: -85px;
      }
    }
  }
  .item-list {
    position: relative;
    .slides {
      li {
        width: auto !important;
      }
    }
  }
}

.view-flex-random {
  .item-list {
    .flex-direction-nav {
      a {
        margin: -20px 0px 0px 0px;
      }
    }
  }
}

.node-product {
  .field-name-field-images {
    .flex-direction-nav {
      a {
        top: 251px;
        &.flex-next {
          right: 133px;
        }
        &.flex-prev {
          left: 197px;
        }
      }
    }
  }
}