@media #{$tablet} {

  body {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }

  .page-checkout-complete {
    .flex-direction-nav {
      display: none;
    }
  }
  .page-faq {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  //Payment.
  .page-checkout.black-theme, .page-checkout-complete {
    .steps div {
      display: none;
      &.active {
        display: block;
      }
    }
    .region-content .d-btn .form-submit {
      width: auto !important;
      font-size: 16px !important;
    }
    .region-content .d-btn {
      margin: 0px !important;
    }
    .checkout-buttons {
      text-align: center;
    }
    .header-right {
      display: none;
    }
    .region-content form {
      width: auto;
    }
  }
  .row.steps {
    margin: 0px;
  }
  body.page-checkout {
    margin-bottom: 0px;
    padding: 0px;
  }

  .flexslider.optionset-default .flex-control-nav li a {
    width: 10px;
    height: 10px;
  }
  .flexslider.optionset-default .slider-inner-text p strong {
    font-size: 18px;
  }
  .ajax-shopping-cart-wrapper .basket-icon {
    top: -92px;
  }
  #navbar .header-right {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    background: #fff;
    padding: 10px;
    z-index: 1000;
  }
  .col-sm-12 {
    padding: 0px;
  }
  .flexslider.optionset-default .slider-inner-text p {
    font-size: 18px;
    margin: 5px 0px;
    &:first-child {
      margin-top: 35px !important;
    }
  }
  .flexslider.optionset-default .slider-inner-text a {
    font-size: 18px;
  }
  .flexslider.optionset-default .slider-inner-text a span {
    top: 9px;
  }
  .block-bean .field-name-field-link a span {
    top: 9px;
  }
  .flexslider.optionset-default .flex-control-nav {
    bottom: 35px;
  }

  .block-bean .field-name-field-link a {
    font-size: 18px;
  }

  #block-bean-static-block-front h2.block-title {
    top: 50px;
  }

  #block-bean-static-block-front .field-name-field-link > div {
    top: 65px;
  }

  .block-bean .block-title span {
    font-size: 24px;
  }

  .navbar-collapse {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }

  .footer, .region-footer {
    position: relative;
    margin: 0px;
    padding: 0px;
    .block-menu {
      padding: 0px;
    }
    .nav li a {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }

  .navbar-toggle {
    margin-top: 17px;
  }

  .navbar-nav {
    margin: 0px;
  }

  .region-footer {
    margin-top: 20px;
  }

  .navbar-collapse.in {
    overflow: hidden;
  }

  #navbar .header-right #block-search-form form {
    input.form-text {
      display: none !important;
    }
  }

  .block-dc-ajax-add-cart {
    position: relative;
  }

  .cart-popup {
    display: none !important;
  }

  body {
    padding-bottom: 80px;
  }
  body.node-type-webform, .node-type-product {
    margin-bottom: 0px;
  }
  .node-type-product {
    padding-bottom: 0px;
  }
  .soc-links {
    padding-top: 15px;
  }

  .node-type-product {
    .flexslider.optionset-product .flex-control-nav {
      padding-top: 20px;
      padding-bottom: 20px;
      li {
        margin: 8px;
        width: 70px;
      }
    }
    .flex-direction-nav {
      display: none;
    }
    .header-right {
      position: static !important;
    }
    .flexslider .slides > li {
      text-align: center;
      img {
        padding: 0px !important;
      }
    }
  }
  .add-cart-message-wrapper {
    left: 5%;
    right: 5%;
  }
  .product-right {
    padding: 0px;
    text-align: center;
  }
  .breadcrumb > li {
    font-size: 14px;
    &:before {
      padding: 0px;
    }
  }

  // Cart.
  .page-cart {
    .wrap-cart {
      display: table;
      & > div {
        display: table-cell;
        vertical-align: top;
        &:first-child {
          min-width: 100px;
        }
      }
    }
    .continue-cart {
      margin-left: 10px;
    }
    .region-content {
      width: auto;
    }
    .commerce-line-item-actions {
      text-align: center;
    }
  }

  .currency_select_menu {
    padding-right: 10px;
  }
  .sub-total, .line-item-summary, .form-item-promo {
    padding-right: 10px;
  }

  .view-commerce-cart-form .views-table th:first-child, .view-commerce-cart-form .views-table td:first-child {
    & {
      width: 55%;
    }
    & + td, & + th {
      width: 15%;
    }
    & + td + td, & + th + th {
      width: 15%;
      padding-top: 20px;
    }
    & + td + td + td, & + th + th + th {
      width: 15%;
    }
  }
  .page-user {
    .container-fluid {
      & > .row {
        margin: 0px;
        .nav-tabs {
          margin: 15px 0px;
          border-bottom: 0px;
          text-align: center;
          & > li {
            float: none;
            display: inline-block;
          }
        }
      }
      .password-toggle {
        display: none;
      }
      .login-links {
        padding: 0px;
        li {
          text-align: center;
          display: block;
        }
      }
    }
  }
  .not-front.black-theme {
    #navbar {
      .header-right {
        background-color: #000;
      }
    }
  }

  .header-right {
    position: static !important;
  }
  .page-collections {
    .container-fluid {
      & > .row {
        margin: 0px;
      }
      .more {
        padding: 10px 0px;
      }
    }
    .inner-wrap {
      a {
        color: #555;
        font-size: 24px;
      }
      text-align: center;
    }
    .coll-img {
      display: block;
      text-align: center;
      img {
        display: inline-block;
        margin: 15px 0px;
      }
    }
    .more {
      text-align: center;
      a {
        color: #555;
        font-size: 20px;
      }
    }
  }
}
