@media #{$normal} {
  .page-user {
    .nav-tabs {
      &.tabs--primary {
        text-align: center;
        margin: 14px -15px 138px -15px;
        li {
          display: inline-block;
          float: none;
          width: 231px;
          a {
            border: 0px;
            font-size: 20px;
            margin-bottom: -3px;
            padding: 15px 0px;
            cursor: pointer;
            font-weight: bold;
            margin-right: 0px;
            &, &:hover {
              background: none;
            }
            &.active {
              border-bottom: 7px solid #fff;
              color: #fff;
            }
            text-transform: uppercase;
          }
        }
      }
    }

    .region-content {
      form {
        width: 360px;
        margin: 0px auto;
        .form-submit {
          @include user-btn(transparent, #fff);
        }
        .form-text {
          height: 36px;
        }
        .form-item-pass-pass1,
        .form-item-pass-pass2,
        .form-item-pass {
          position: relative;
        }
        .password-toggle {
          position: absolute;
          display: block;
          width: 19px;
          height: 11px;
          right: 9px;
          top: 13px;
          background: url("../images/glaz.png") no-repeat;
          input {
            opacity: 0;
          }
          cursor: pointer;
        }
        &.user-login {
          .form-type-password {
            margin-top: 56px;
          }
          .form-item-remember-me label {
            font-size: 14px;
            padding-left: 30px;
            input {
              position: relative;
              width: 0px;
              margin-right: 20px;
              cursor: pointer;
              &:after {
                background: url("../images/checkbox.png") no-repeat 0px -20px;
                display: block;
                position: absolute;
                width: 24px;
                height: 20px;
                content: '';
                left: -10px;
                top: -2px;
              }
              &:checked:after {
                background: url("../images/checkbox.png") no-repeat 0px 0px;
              }
            }
          }
          .form-actions {
            padding-top: 88px;
            padding-bottom: 3px;
          }
          .login-links {
            padding-left: 0px;
            list-style: none;
            text-align: center;
            color: #fff;
            font-size: 13px;
            li {
              margin-bottom: 20px;
              a.bold {
                margin-left: 3px;
              }
            }
          }
        }

        &.user-register-form {
          .password-strength-title,
          .password-strength-text,
          .help-block,
          .form-item-pass-pass2 > div.password-confirm,
          .control-label {
            display: none;
          }
          .police-text {
            text-align: center;
            font-size: 14px;
            color: #fff;
            a {
              font-weight: bold;
            }
            div {
              padding-bottom: 10px;
            }
          }
          .form-group {
            margin-bottom: 44px;
          }
          .form-actions {
            padding-top: 53px;
            margin-bottom: 21px;
          }
        }
      }
    }
  }
}
